#sidebar {
    font-family: Stylus BT;
    float: left;
    background-color: #e0ffff;
    border-radius: 1em;
    border: black 1px solid;
    text-align: center;
    position: fixed;
    height: 97%;
    width: 15vw;
}
.sidebar {
    font-family: Stylus BT;
    float: left;
    background-color: #e0ffff;
    border-radius: 1em;
    border: black 1px solid;
    text-align: center;
    position: fixed;
    height: 97%;
    width: 15vw;
}
aside{
  font-family: Stylus BT;
  float: left;
  background-color: #e0ffff;
  border-radius: 1em;
  border: black 1px solid;
  text-align: center;
  position: fixed;
  height: 97%;
  width: 15vw;
}
article{
  text-align: center;
  font-family: Stylus BT;
}
